.clear { clear: both; }
body {
  font-family: helvetica, arial, sans-serif;
  font-size: 100%;
  color: #555;
  background-color: #fff;
  margin-bottom: 8em;
}
a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #555;
}
a img {
  border: 0;
}
h2 a {
  color: #555;
}
code {
  font-family: monospace;
  background-color: #eee;
  white-space: pre;
  padding: 3px;
}
p code {
  font-size: .8em;
}
#wrapper {
  width: 500px;
  margin: 0 auto;
  padding-left: 260px;
}
#sidebar {
  float: left;
  position: absolute;
  margin: 30px auto -200px -270px;
}
#bg {
  float: left;
  background: url('/images/logo.png') no-repeat;
  width: 317px;
  height: 392px;
}
#bg a {
  display: block;
  width: 204px;
  height: 220px;
  margin-left: 85px;
  border: 0;
}
#bg a:after {
  content: '';
  display: block;
  width: 100px;
  height: 206px;
  margin-left: -88px;
  padding-top: 119px;
}
#blurb {
  margin: 0 0 0 -90px;
  width: 265px;
}
#blurb p {
  margin: 0;
  padding: 0 0 0 75px;
}
#blurb p:first-child {
  font-size: 1.140em;
  margin-bottom: 13px;
  letter-spacing: 0.16em;
}
#blurb p:first-child + p {
  font-size: 0.9em;
  padding-bottom: 7px;
  word-spacing: 0.1em;
}
#blurb p:first-child + p + p {
  font-size: 0.8em;
  letter-spacing: 0.08em;
}
#nav {
  margin: 40px 0 0 -15px;
  font-size: x-small;
}
#posts {
  position: absolute;
  margin-top: 222px;
  float: right;
}
.post h2 a {
  color: #333;
}
.post {
  margin: 8em 0;
}
.post h2 {
    font-size: 18px;
    line-height: .8em;
    margin-bottom: 5px;
    width: 500px;
    text-shadow: 0 0 1px rgba(51, 51, 51, 0.1);
    padding: 5px 5px 10px 0;
}
.post p {
  width: 500px;
  font-size: 14px;
}

/*
* Post types
*/

.post img, .post iframe {
  max-width: 500px;
  margin: 5px 0;
  border: 0;
}

/*
* Pagination
*/

#paginate {
  margin-bottom: 50px;
}
#paginate:after {
  content: '';
  clear: both;
  display: block;
}
#paginate a {
  margin-top: 50px;
}
#previous {
  float: right;
  display: block;
}
#next {
  float: left;
  display: block;
}
#index-previous {
  float: left;
  display: block;
}
#index-next {
  float: right;
  display: block;
}
#noload {
  margin-bottom: 5em;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

/*
* SoundCloud player
*/

.sc-player {
  margin: 6px 10px;
  background-color: #e3e3e3;
  width: 460px;
  padding: 10px;
  overflow: hidden;
}
.sc-controls {
  float: left;
}
.sc-play {
  display: block;
  padding: 0 20px 20px 20px;
  background-color: #333;
  border-radius: 3px;
  margin: 0 10px 0 0;
  width: 10px;
  text-indent: -999px;
}
.sc-play:after {
  content: '';
  display: block;
  border: 15px solid #fff;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  height: 0.001px;
  width: 0.001px;
}
.sc-player .sc-controls a.sc-pause {
  display: none;
}
.sc-player.playing .sc-controls a.sc-play {
  display: none;
}
.sc-player.playing .sc-controls a.sc-pause {
  display: block;
  text-indent: -999px;
  padding: 20px 0 20px 13px;
  background-color: #333;
  width: 37px;
  margin-right: 10px;
  border-radius: 3px;
}
.sc-player .sc-controls a.sc-pause:before {
  content: '';
  display: block;
  width: 10px;
  height: 30px;
  background-color: #fff;
  float: left;
}
.sc-player.playing .sc-controls a.sc-pause:after {
  content: '';
  display: block;
  background-color: #fff;
  width: 10px;
  height: 29px;
  margin-left: 15px;
  margin-top: -19px;
}
.sc-scrubber, .sc-time-span, .sc-waveform-container, .sc-buffer, .sc-played, .sc-waveform-container img {
  width: 500px;
  height: 70px;
  overflow: hidden;
}
.sc-scrubber .sc-buffer, .sc-scrubber .sc-played {
  margin-top: -70px;
}
.sc-buffer {
  background-color: #eee;
  opacity: 0.4;
  width: 0;
}
.sc-played {
  background-color: #f00;
  opacity: 0.1;
  width: 0;
}
.sc-waveform-container {
  background-color: #333;
}
.sc-waveform-container img {
  vertical-align: top;
}
.sc-trackslist {
  display: none;
}
.sc-player-engine-container {
  width: 1px;
  height: 1px;
}
