.clear { clear: both; }
body {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  color: #555;
/*  background: #fff url('https://lh5.googleusercontent.com/-7b4gJh-AqIc/UJxkbsPKp-I/AAAAAAAAAmc/yzTYI5P8Tp0/s212/faux-column.png') repeat-y left top;*/
  margin: 0 0 4em 0;
}
h1, h2 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}
a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #555;
}
a img {
  border: 0;
}
h2 a {
  color: #555;
}
code {
  font-family: monospace;
  background-color: #eee;
  white-space: pre;
  padding: 3px;
}
p code {
  font-size: .8em;
}
@media all and (max-width: 700px) {
  #header {
    margin: 10px !important;
    width: 100% !important;
  }
  #header h1 {
    font-size: 41px !important;
  }
  #header #first {
    font-size: 33px !important;
  }
  #header #second {
    font-size: 23px !important;
  }
  #header #third {
    font-size: 15px !important;
  }

  #articles {
    margin: 10px !important;
  }
  #logo {
    display: none;
  }
}

#header {
  width: 700px;
  margin: 20px 100px;
}
#header #logo {
  float: left;
  margin: 0 20px 100px 0;
}
#header h1 {
  margin: 0;
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
}
#header #first {
  font-size: 29px;
  font-weight: lighter;
  margin: 10px 0 0 0;
}
#header #second {
  font-size: 21px;
  font-weight: lighter;
  margin: 0;
}
#header #third {
  font-size: 14px;
  font-weight: lighter;
  margin: 20px 0 1.5em 0;
}
#header #third a {
  font-weight: normal;
  color: #555;
}

#articles {
  margin: 0 100px;
}
article {
  min-width: 550px;
  max-width: 850px;
  padding: 6em 0;
  border-bottom: 1px solid #eee;
}
article h2:first-child {
  margin: 0 0 10px 0;
  font-size: 30px;
}
article:first-child {
  padding-top: 4em;
}
article:last-child {
  border: 0;
}
article .permalink {
  font-weight: normal;
  color: #ccc;
  float: right;
  display: block;
  margin-right: -20px;
}
article p, article li {
  font-size: 18px;
  font-weight: lighter;
}
article p:first-of-type {
  margin-top: 0;
}
article .image {
  width: 100%;
}
/*
* Post types
*/

article img, article iframe {
  border: 0;
}

/* http://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
article .video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
article .video  iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

article .image img {
  width: 100%;
  height: auto;
}

/*
* Pagination
*/

#paginate {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 2em 0 50px 0;
  font-size: 21px;
}
#paginate:after {
  content: '';
  clear: both;
  display: block;
}
#paginate a {
  margin-top: 50px;
}
#previous {
  float: right;
  display: block;
}
#next {
  float: left;
  display: block;
}
#index-previous {
  float: left;
  display: block;
}
#index-next {
  float: right;
  display: block;
}
#noload {
  margin-bottom: 5em;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  text-transform: none;
  font-family: sans-serif;
}

/*
* SoundCloud player
*/

.sc-player {
  margin: 6px 10px;
  background-color: #e3e3e3;
  width: 460px;
  padding: 10px;
  overflow: hidden;
}
.sc-controls {
  float: left;
}
.sc-play {
  display: block;
  padding: 0 20px 20px 20px;
  background-color: #333;
  border-radius: 3px;
  margin: 0 10px 0 0;
  width: 10px;
  text-indent: -999px;
}
.sc-play:after {
  content: '';
  display: block;
  border: 15px solid #fff;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  height: 0.001px;
  width: 0.001px;
}
.sc-player .sc-controls a.sc-pause {
  display: none;
}
.sc-player.playing .sc-controls a.sc-play {
  display: none;
}
.sc-player.playing .sc-controls a.sc-pause {
  display: block;
  text-indent: -999px;
  padding: 20px 0 20px 13px;
  background-color: #333;
  width: 37px;
  margin-right: 10px;
  border-radius: 3px;
}
.sc-player .sc-controls a.sc-pause:before {
  content: '';
  display: block;
  width: 10px;
  height: 30px;
  background-color: #fff;
  float: left;
}
.sc-player.playing .sc-controls a.sc-pause:after {
  content: '';
  display: block;
  background-color: #fff;
  width: 10px;
  height: 29px;
  margin-left: 15px;
  margin-top: -19px;
}
.sc-scrubber, .sc-time-span, .sc-waveform-container, .sc-buffer, .sc-played, .sc-waveform-container img {
  width: 550px;
  height: 70px;
  overflow: hidden;
}
.sc-scrubber .sc-buffer, .sc-scrubber .sc-played {
  margin-top: -70px;
}
.sc-buffer {
  background-color: #eee;
  opacity: 0.4;
  width: 0;
}
.sc-played {
  background-color: #f00;
  opacity: 0.1;
  width: 0;
}
.sc-waveform-container {
  background-color: #333;
}
.sc-waveform-container img {
  vertical-align: top;
}
.sc-trackslist {
  display: none;
}
.sc-player-engine-container {
  width: 1px;
  height: 1px;
}
