<section id="sidebar">
<header id="logo"><a href="/"><img src="https://lh6.googleusercontent.com/-QY1-Ou3b8SA/UJtz6JuWGnI/AAAAAAAAAew/9PrkhE4Sbtw/s151/drawn-circle.png" alt="jmettes" /></a></header>
<section id="about">
<h1>Jonathan Mettes</h1>
<p id="first">I'm a muso and a <br/>software developer</p>
<p id="second">Here's a collection of <br/>things I do and make</p>
</section>

<form id="search" method="get" action="http://www.google.com/search">
<input type="hidden" name="sitesearch" value="jmettes.com" />
<input type="text" name="q" /><input type="submit" value="search" />
</form>

<section id="links">
<a href="http://soundcloud.com/jmettes"><img src="https://lh3.googleusercontent.com/-X_dlIkXdlT8/UJuz7zxQRqI/AAAAAAAAAh8/TIFqr7Gvz58/s31/soundcloud.png" /></a>
<a href="https://github.com/jmettes"><img src="https://lh3.googleusercontent.com/-pOH-UYaP_jA/UJu1zzhYRGI/AAAAAAAAAis/Pu_rE_x1hRo/s20/github.png" /></a>
<a href="http://flickr.com/jmettes"><img src="https://lh4.googleusercontent.com/-F0h6TAwu2uk/UJu3hNhcLkI/AAAAAAAAAjg/vcN8zdpJHq0/s25/flickr.png" /></a>
<a href="http://vimeo.com/jmettes"><img src="https://lh3.googleusercontent.com/-TyXaR0jyqto/UJu5DTyKu0I/AAAAAAAAAkQ/_xGv0W2ny1Y/s18/vimeo.png" /></a>
<a href="http://twitter.com/jmettes"><img src="https://lh4.googleusercontent.com/-Rn613YOPl0w/UJu6p0iZoXI/AAAAAAAAAlE/3k_HM4yTgv8/s24/twitter.png" /></a>
</section>

</section>
