<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Jonathan Mettes</title>
<link title="Jonathan Mettes - Atom" type="application/atom+xml" rel="alternate" href="/atom.xml" />
<link type="text/css" rel="stylesheet" href="/css/style.css" />
<link rel="shortcut icon" href="/favicon.ico" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400|Raleway:100' rel='stylesheet' type='text/css'>
{% unless page.url == '/index.html' %}
<meta name="robots" content="noindex">
{% endunless %}
<!--[if IE]><script src="/js/html5.js"></script><![endif]-->
<!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
</head>
<body>
<div id="header">
<a href="/"><img src="images/drawn-circle-trn.png" id="logo" /></a>
<h1><a href="mailto:jonathan@jmettes.com">Jonathan Mettes</a></h1>
<p id="first">I'm a software dev and a muso</p>
<p id="second">Here's a collection of things I make and do</p>
<p id="third">More: <a href="mailto:jonathan@jmettes.com">email</a> | <a href="http://soundcloud.com/jmettes">soundcloud</a> |
 <a href="http://youtube.com/user/jonathanmettes/videos">youtube</a> | <a href="https://github.com/jmettes">github</a></p>
</div>
<div id="articles">
{{ content }}
<div id="paginate">
{% if paginator.previous_page %}
{% if paginator.previous_page == 1 %}
<a href="/" id="index-previous">&lt; Newer</a>
{% else %}
<a href="/page{{ paginator.previous_page }}" id="index-previous">&lt; Newer</a>
{% endif %}
{% endif %}
{% if paginator.next_page %}
<a href="/page{{ paginator.next_page }}" id="index-next">Older &gt;</a>
{% endif %}
</div>
</div>
{% if page.url == "/index.html" %}
<script type="text/javascript">
var page = 2;
var loading = $('#paginate').html('<img src=\"/images/loading.gif\"/><br/>Loading...');
var fetching = false;

$(document).scroll(function(e) {
  if (($(window).scrollTop() >= $(document).height() - $(window).height() - 500) && !fetching) {
    fetching = true;
    $.ajax({
      url: '/page' + page,
      success: function(data) {
        $(loading).remove();
        $(data).find('article').appendTo('#articles');
        $(loading).appendTo('#articles');
        fetching = false;
      },
      error: function(e) {
        $(document).unbind('scroll');
        $(loading).remove();

        if (e.status != 404) {
          $('#articles').append('<p id="noload">Error loading posts. <a href="/page' + page + '">Go to next page</a></p>');
        }
      }
    }, 2000);
    page++;
  }
});


var _gaq=[["_setAccount","UA-36175883-1"],["_trackPageview"]];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
s.parentNode.insertBefore(g,s)}(document,"script"));
</script>
{% endif %}
</body>
</html>
