<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>{{ page.title }} - jmettes</title>
<link title="jmettes - Atom" type="application/atom+xml" rel="alternate" href="/atom.xml" />
<link type="text/css" rel="stylesheet" href="/css/style.css" />
<link rel="shortcut icon" href="/favicon.ico" />
<!--[if IE]><script src="/js/html5.js"></script><![endif]-->
</head>
<body>
{% include sidebar.html %}
<div id="articles">
<article>
<h2>{{ page.title }}</h2>
<a href="{{ page.url }}" title="{{ page.title }}" class="permalink">#</a>
{{ content }}
<div id="paginate">
{% if page.next.url %}
<a href="{{ page.next.url }}" id="next">&lt; Newer</a>
{% endif %}
{% if page.previous.url %}
<a href="{{ page.previous.url }}" id="previous">Older &gt;</a>
{% endif %}
</div>
</article>
</div>
</body>
</html>
